<% if @notifications.size > 0 %>
<div class="card mt-3 mb-3">
  <div class="card-header">
    All Notifications
  </div>
  <div class="spinner-border text-primary mx-auto mt-2" role="status" id="spinner">
    <span class="sr-only">Loading...</span>
  </div>
  
  <div class="card-body all-notification">
      <%= render partial: "allnotification", collection: @notifications , as: :notification %>
  </div>
</div>
<% else %>
  <div class="alert alert-warning" role="alert">
    You don't have any notification yet!!!
  </div>
<% end %>