<div class="card mt-3 mb-3">
  <div class="card-header">
   Notifications
  </div>
  <div class="card-body" id="notificationbody">
    <%= "<h2 class='mx-auto unseen-header'>No unseen notifications</h2>".html_safe if @notifications.size.eql?(0)  %>
    <%= render partial: "notification", collection: @notifications %>
  </div>
  <%= link_to "Load all" , allnotifications_path , id:"loadMore"  %>
</div>
