<div class="card mt-3 mb-3">
  <div class="card-header">
   Notifications
  </div>
  <% if @notifications.size > 0 %>
  <div class="card-body" id="notificationbody">
      <%= render partial: "notification", collection: @notifications %>

  </div>
  <% else %>
    <h2 class="mx-auto">No unseen notifications</h2>
  <% end %>
  <%= link_to "Load all" , allnotifications_path , id:"loadMore"  %>
</div>
