<h4>Welcome to BookShop.com </h4>
  <p> To sees the top books, just follow this link: <%= @url %>.</p>
  <p>Thanks for joining and have a great day!</p>
  <strong>Please don't reply this is a auto generated email </strong>