<% price = total_price %> <!-- helper to access the total price -->
<div class="container-fluid cart-detail bg-light">
  <%= render partial:"item" , collection: @cart_items ,  as: :item %>
</div>
<div class="payment bg-light my-2">
  <strong> Total Price: </strong> <span class="badge badge-primary"> <%= price %> RS only </span>
  <hr>
  <%= "<button type='button' class='btn btn-outline-primary mt-2'>Pay Now</button>".html_safe if price > 0 %>
</div>