<% if @results.length > 0 %>
    <%= will_paginate @results  %>
  <% if @results[0].instance_of?(BookDetail) %>  
    <% @results.each do |result| %>
      <%= render partial: "result", collection: result.user_books %>
    <% end %>
  <% else %>
    <%= render partial: "result", collection: @results %>
  <% end %>
    <%= will_paginate @results %>
<% else %>
  <div class="ui-negative-message">
  <div class="header-negative-message">
    We're sorry we can't find that search result
    <p>The search is invalid</p>
  </div>
  </div>
<% end %>