  
<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h6>About</h6>
            <p class="text-justify">BookShop.com <i> Providing books </i> is an initiative  to help the upcoming generation to learn as much as possible. We focuses on providing  books of all catrgory which helps other . Here you can buy book as per your need and you can sell your old books which helps other people .</p>
          </div>
        </div>
      </div>

         <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-2 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">BookShop</a>.
            </p>
          </div>
        </div>
      </div>
</footer>