<% if flash[:notice] %>
<div class="alert alert-success global-notification p-0">
  <strong><p class="notice"><%= notice %></p></strong>
</div>
<% end %>
<% if flash[:alert] %>
<div class="alert alert-danger global-notification p-0">
  <strong><p class="alert"><%= alert %></p></strong>
</div>
<% end %>